################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/sales-platform-architecture.slnx/FileContentIndex
/.vs/sales-platform-architecture.slnx/v18/.wsuo
/.vs/sales-platform-architecture.slnx/v18/DocumentLayout.json
/.vs
